import React, { FC } from 'react';
import classes from './styles.module.scss';

interface IProps {
  className?: string;
}

export const {{ camelCase name }}: FC<IProps> = ({ className }) => (<div></div>);
